body {
    background-color: #50bee2;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid yellow;
}

.block {
    padding: 20px;
    border: 1px solid #fff;
}

.red {
    background-color: tomato;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.violet {
    background-color: violet;
}
.darkblue {
    background-color: darkblue;
}
